vaadin-form-layout.footer {
    background-color: darkblue;
    margin-top: 10px;
    padding: 0;
}

.image-prodTile {
    width: 100%;
    height: 395px;
    object-fit: contain;
}

.image-prodTile:hover {
    cursor: pointer;
}

vaadin-vertical-layout.test {
    max-width: 420px;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 20px;
    margin: 10px !important;
}

.label-prodTile {
    font-weight: bold;
}

.contact-heading {
    color: lightblue;
    margin-bottom: 0%;
}

.bolt {
    font-weight: bold;
}

.contact {
    width: 80%;
    height: auto;
    /*background: color;*/
}

.contactField {
    background-color: grey;
    width: auto;
}

.motto {
    font-size: xxx-large;
}

div.mottoDiv {
    width: 100%;
    left: 50%;
    text-align: center;
}

.image-contactField {
    width: 10%;
}

vaadin-button.cart {
    color: black;
    font-weight: bold;
    width:190px;
    height:44px;
    background:orange;
    border-radius:50px;
    border:2px;
}

vaadin-button.cart:hover {
    cursor: pointer;
}

vaadin-button.dialog {
    color: black;
    font-weight: bold;
    width: 120px;
    height: 40px;
    background: orange;
    border-radius: 5px;
}


vaadin-dialog-overlay::part(overlay) {
    border-style: solid;
    border-width: thin;
    border-color: orange;
    width: 600px;
}


vaadin-vertical-layout.filter {
    max-width: 222px;
    resize: horizontal;
    overflow: auto;
}

[id^=label-vaadin-checkbox-group] {
    font-weight: bold;
    color: black;
}

vaadin-checkbox-group.filter {
    border-top: 1px solid lightgray;
    width: 190px;
}

/*------------------------
area of header CSS styling
------------------------*/

vaadin-horizontal-layout.header {
    box-shadow: 0px 1px 10px 5px lightgrey;
    background-color: orange;
}

.header-logo {
    padding-left: 10px;
    height: 35px;
    width: 35px;
}

.header-slogan {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .header-tab {
        visibility: hidden;
    }
}

/*------------------------
area of footer CSS styling
------------------------*/

.footer-element {
    cursor: pointer;
}

/*------------------------------
area of product page CSS styling
------------------------------*/

.image-prodPage {
    height: 70%;
    width: auto;
    max-width: 70%;
    grid-area: productImage;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px lightgrey;
}

@media only screen and (max-width: 831px) {
    .image-prodPage {
        max-width: 100% !important;
        height: auto;
    }
}

.nameLabel-prodPage {
    font-weight: bolder;
    font-size: 44px;
    max-height: 44px;
}

.idLabel-prodPage {
    color: darkgrey;
}

.priceLabel-prodPage {
    font-weight: bold;
    font-size: 24px;
    max-height: 24px;
}

vaadin-button.cart-productPage {
    color: black;
    font-weight: bold;
    max-width:190px !important;
    height:44px;
    background:orange;
    border-radius:50px;
    border:2px;
    margin-top: 20px;
}

vaadin-button.cart-productPage:hover {
    cursor: pointer;
}

.divider1-prodPage {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    color: lightgrey;
}

.divider2-prodPage {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    color: lightgrey;
}

.descriptionTitle-prodPage {
    font-weight: bolder;
    font-size: 44px;
}

.reviewsTitle-prodPage {
    font-weight: bolder;
    font-size: 44px;
}

.reviews-prodPage {

}

.description-prodPage {

}

/*--------------------------------------
area of product page reviews CSS styling
--------------------------------------*/

vaadin-vertical-layout.reviewTile-prodPage {
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
    border-radius: 5px;
    padding-bottom: 10px;
}

.publisher-reviewTile {
    font-weight: bold;
}

.date-reviewTile {
    color: darkgrey;
}

.title-reviewTile {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider-reviewTile {
    padding-top: 10px;
    padding-bottom: 10px;
}